* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #373A36;
  background: #E6E2DD;
}

nav {
  background-color: #D48166;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  padding: 1.3vh;
  position: fixed;
  width: 100vw;
}

.name,
.link {
  color: white;
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 400;
  padding: 0 25px;
  text-decoration: none;
}

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#headshot {
  border: 3px solid #373A36;
  border-radius: 50%;
  max-height: 300px;
}

.name-home {
  font-family: 'Bebas Neue', cursive;
  font-size: 8em;
  font-weight: 500;
  margin-top: 55px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  font-weight: 300;
}

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.name-about {
  font-family: 'Bebas Neue', cursive;
  font-size: 7em;
  font-weight: 500;
}

.email {
  border-bottom: 3px solid #373A36;
  font-family: 'Bebas Neue', cursive;
  font-size: 3.5em;
  font-weight: 500;
  padding: 5px 300px 30px 300px;
}

.bio {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  padding-top: 70px;
  width: 80%;
}

.outer-div-projects {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 20px;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.inner-div-projects {
  border: 3px solid #373A36;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 500px;
  min-width: 500px;
  padding: 25px;
  text-align: center;
}

.name-projects {
  font-family: 'Bebas Neue', cursive;
  font-size: 4.3em;
  font-weight: 500;
}

#image-projects {
  max-height: 300px;
  max-width: auto;
  padding: 10px 10px 30px 10px;
}

button {
  color: #373A36;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  margin: 0 25px;
  padding: 5px;
}

footer {
  background-color: #D48166;
  bottom: 0;
  padding: 3vh;
  position: fixed;
  width: 100%;
}